[Unit]
Description=Node Exporter service

[Service]
Type=simple
WorkingDirectory=/usr/local/bin
Restart=always
RestartSec=10
ExecStart=node_exporter

[Install]
WantedBy=multi-user.target